body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    width: 500px;
}

#container > div {
    margin: 20px auto;
    width: 350px;
}


.display {
    height: 70px;
    background-color: grey;
    color: white;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2px;
    padding: 0 10px;
}


.display.operation > span,
.display.result > span {
    display: inline-block;
    font-family: Verdana;
    font-size: 35px;
    font-weight: 600;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.fa-solid {
    border: 5px dotted gray;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

/* when cursor hover over the button, button grows by 15% */
.fa-solid:hover {
    transform: scale(1.15);
}

svg {
    height: 50px;
    width: 50px;
}

#decimal {
    font-weight: bold;
    font-size: 60px;
}